RELAY_IMAGE_TAG=v0.1.0

RELAY_HOST_BIND=127.0.0.1
RELAY_HOST_PORT=8586
RELAY_POSTGRES_VOLUME=relay-postgres-data

POSTGRES_DB=agent_tunnel
POSTGRES_USER=relay_user
POSTGRES_PASSWORD=

RELAY_APP_SECRET=
RELAY_OPERATOR_TOKEN=
