[defaults]
stdout_callback = yaml
roles_path = ansible/roles
collections_paths = ~/.ansible/collections
retry_files_enabled = False
host_key_checking = False

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-%%r@%%h:%%p
