[defaults]
stdout_callback = default
result_format = yaml
roles_path = roles
collections_paths = ~/.ansible/collections
retry_files_enabled = False
host_key_checking = False

[ssh_connection]
pipelining = True
transfer_method = scp
scp_extra_args = -O
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o ServerAliveCountMax=20
control_path = /tmp/ansible-%%r@%%h:%%p
