[defaults]
stdout_callback = default
result_format = yaml
roles_path = roles
collections_paths = ~/.ansible/collections
retry_files_enabled = False
host_key_checking = False

[ssh_connection]
pipelining = True
# ControlMaster improves performance by reusing SSH connections
ssh_args = -C -o ControlMaster=auto -o ControlPersist=10m -o ServerAliveInterval=30 -o ServerAliveCountMax=20 -o ConnectTimeout=60 -o TCPKeepAlive=yes
control_path = /tmp/ansible-%%r@%%h:%%p
